@import "tailwindcss";

:root {
  --background: #F2F2F2;
  --foreground: #171717;
  --font-poppins: 'Poppins', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F2F2F2;
    --foreground: #F2F2F2;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

.inset-shadow-top {
  box-shadow: inset 0 8px 16px -8px rgba(0,0,0,0.18);
}
